*{
    background-color: grey;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-size: larger;
}

#clock{
    font-size: 40px;
    background-color: orange;
     padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}